* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

/* ====== Cookie block ====== */

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-left img {
  margin-top: 50px;
  width: 60%;
  transition: 0.5s;
  cursor: pointer;
}

.content-left img:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

/* ======================== */

.select-option {
  padding: 20px;
}

.select-option img {
  width: 50px;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-option:hover {
  background-color: rgb(85, 0, 40);
  transition: 0.4s;
}
