* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

/* ======  block ====== */

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-left img {
  margin-top: 50px;
  width: 60%;
  transition: 0.5s;
  cursor: pointer;
}

.click-cookie {
  transform: scale(1.4) rotate(1turn);
}
/* ======================== */

.select-option {
  padding: 20px;
  transition: 0.4s;
}

.select-option img {
  width: 50px;
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(100);
  background-color: rgba(128, 128, 128, 0.521);
  margin: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.select-option {
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.select-option:hover {
  background-color: rgb(85, 0, 40);
  transition: 0.4s;
}

.activated {
  border: purple 1px solid
}

.costs img {
  width: 30px;
  padding: 3px;
}

.display-cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  display: flex;
  align-items: center;
}
.cookies-error {
  color: red;
}